body {
	text-align: center;
	font-size: 20px;
}

#compteur {
	font-size: 50px;
	margin: 100px;
}

#boutton {
	margin-bottom: 50px;
}

#bordure {
	margin: 0 auto;
	background-color: grey;
	height: 30px;
	width: 500px;
}

#chargement {
	background-color: green;
	height: 100%;
	width: 100%;
}